In [1]:
import pandas as pd

We will be looking at a dataset showing traffic crash data for 2018. This was obtained from https://data.nashville.gov/.

In [2]:
crashes = pd.read_csv('../data/crashes_2018.csv')

In [3]:
crashes.head()

,Accident Number,Date and Time,Number of Motor Vehicles,Number of Injuries,Number of Fatalities,Property Damage,Hit and Run,Reporting Officer,Collision Type Code,Collision Type Description,...,Harmful Code Description,Street Address,City,State,Zip,RPA,Precinct,Latitude,Longitude,Mapped Location
0,20181075326,12/31/2018 11:10:00 PM,1.0,0,0,NaN,N,240964.0,0.0,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,...,CURB;SHRUBBERY,ROCKWOOD DR & SADDLESTONE DR,HERMITAGE,TN,37076.0,9557.0,HERMIT,36.1769,-86.5971,"(36.1769, -86.5971)"
1,20181075323,12/31/2018 11:09:00 PM,3.0,1,0,NaN,N,110062.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT;PARKED MOTOR VEHICLE,SPRING ST & N 1ST ST,NASHVILLE,TN,37213.0,1985.0,CENTRA,36.1770,-86.7746,"(36.177, -86.7746)"
2,20181075301,12/31/2018 10:55:00 PM,4.0,1,0,NaN,Y,405424.0,11.0,Front to Rear,...,MOTOR VEHICLE IN TRANSPORT,BELL RD & ELM HILL PKE,NASHVILLE,TN,37214.0,8995.0,HERMIT,36.1411,-86.6280,"(36.1411, -86.628)"
3,20181075265,12/31/2018 10:44:00 PM,2.0,0,0,NaN,N,279112.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,1ST AVS & 1ST AVN,NASHVILLE,TN,37201.0,4095.0,CENTRA,36.1622,-86.7744,"(36.1622, -86.7744)"
4,20181075263,12/31/2018 10:42:00 PM,2.0,0,0,NaN,N,212307.0,4.0,ANGLE,...,MOTOR VEHICLE IN TRANSPORT,8TH AVS & LAFAYETTE ST,NASHVILLE,TN,37203.0,4043.0,CENTRA,36.1546,-86.7792,"(36.1546, -86.7792)"

**Exercise 1:** 
 - Use `.value_counts()` to get a count of accidents by Precinct. Save the result as `count_by_precinct_vc`.
 - What type of object is `count_by_precinct_vc`?
 - Extract (as a number) the count of accidents that occurred in the North precinct from `count_by_precinct_vc`.
 - Using `.to_frame()` convert `count_by_precinct_vc` to a DataFrame. What do you notice about the column names? Why do you think this happened?
 - Modify the resulting DataFrame so that the precinct names are a regular column. What do you notice about the column names?

In [4]:
count_by_precinct_vc = crashes['Precinct'].value_counts()
print(count_by_precinct_vc)

SOUTH     7405
MIDTOW    5706
HERMIT    5377
NORTH     3519
WEST      3419
CENTRA    3187
MADISO    2929
EAST      2911
Name: Precinct, dtype: int64

In [5]:
type(count_by_precinct_vc)

pandas.core.series.Series

In [48]:
count_by_precinct_vc['NORTH']

3519

In [7]:
type(count_by_precinct_vc[5])

numpy.int64

In [8]:
count_by_precinct_vc.to_frame()

        Precinct
SOUTH       7405
MIDTOW      5706
HERMIT      5377
NORTH       3519
WEST        3419
CENTRA      3187
MADISO      2929
EAST        2911

In [9]:
# Precinct is the index, "Precinct" is showing as the column name.  Because it's a series, it is one-dimensional

In [10]:
count_by_precinct_vc.reset_index()

    index  Precinct
0   SOUTH      7405
1  MIDTOW      5706
2  HERMIT      5377
3   NORTH      3519
4    WEST      3419
5  CENTRA      3187
6  MADISO      2929
7    EAST      2911

In [11]:
# both are now columns and parallel, but column names are incorrect.  Perhaps value_counts does not work for numeric variables

**Exercise 2:**
 - Instead of `.value_counts`, get the count of accidents by precinct using `.groupby` and aggregate by `count()`. When you perform the aggregation, **do it on only a single column**. Save the result as `count_by_precinct_gb`.
 - What type of object is `count_by_precinct_gb`?
 - How is the result from using `.groupby` different from the result of `.value_counts()`?
 - Convert `count_by_precinct_gb` to a DataFrame using `.to_frame()`. You should probably notice something strange looking about the labels above the columns. Try and figure out what is going on. Hint: Take a look at the index of the resulting DataFrame.
 - Modify the DataFrame so that the precinct labels are a regular column.

In [12]:
count_by_precinct_gb = crashes.groupby('Precinct')['Accident Number'].count()
count_by_precinct_gb

Precinct
CENTRA    3187
EAST      2911
HERMIT    5377
MADISO    2929
MIDTOW    5706
NORTH     3519
SOUTH     7405
WEST      3419
Name: Accident Number, dtype: int64

In [13]:
type(count_by_precinct_gb)

pandas.core.series.Series

#Both result in pandas core series, but the value_counts returns in descending order and the name is Precinct with no column name, whereas groupby returns Accident Number as the name and has a column name (Precinct)

In [14]:
count_by_precinct_gb.to_frame()

          Accident Number
Precinct
CENTRA               3187
EAST                 2911
HERMIT               5377
MADISO               2929
MIDTOW               5706
NORTH                3519
SOUTH                7405
WEST                 3419

In [15]:
#fix column headers by resetting index
count_by_precinct_gb.reset_index()

  Precinct  Accident Number
0   CENTRA             3187
1     EAST             2911
2   HERMIT             5377
3   MADISO             2929
4   MIDTOW             5706
5    NORTH             3519
6    SOUTH             7405
7     WEST             3419

**Exercise 3:**
 - Using a single `.groupby`, find the mean and max number of injuries by collision type description. Save this as `crashes_injuries`.
 - What type of object is `crashes_injuries`?
 - Extract from crashes_injuries (as a number), the mean number of crashes for head-on crashes.
 - Use `.reset_index()` on the resulting object.  What column names do you get when you do this?

In [21]:
crashes_injuries=crashes.groupby('Collision Type Description')['Number of Injuries'].agg(['mean','max'])
crashes_injuries.head()

                                             mean  max
Collision Type Description
ANGLE                                    0.461604   10
Front to Rear                            0.373557   12
HEAD-ON                                  0.892038    7
NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  0.398344    7
OTHER                                    0.371882    5

In [22]:
type(crashes_injuries)

pandas.core.frame.DataFrame

In [27]:
# could also do .loc['HEAD-ON','mean']
crashes_injuries['mean']['HEAD-ON']

0.8920377867746289

In [28]:
crashes_injuries.reset_index()

                Collision Type Description      mean  max
0                                    ANGLE  0.461604   10
1                            Front to Rear  0.373557   12
2                                  HEAD-ON  0.892038    7
3  NOT COLLISION W/MOTOR VEHICLE-TRANSPORT  0.398344    7
4                                    OTHER  0.371882    5
5                             REAR-TO-REAR  0.119760    2
6                             Rear to Side  0.099138    2
7           SIDESWIPE - OPPOSITE DIRECTION  0.281593    9
8               SIDESWIPE - SAME DIRECTION  0.143079    7
9                                  UNKNOWN  0.120000    4

**Exercise 4:**
 - Use a single `.groupby` to get a count of the number of each Collision Type Description that occurred within each precinct. As in Exercise 2, when you perform the aggregation, do it on only a single column. Save the resulting object as `type_by_precinct`. 
 - What type of object is `type_by_precinct`?
 - How is the index of this object different than the results of the exercises above?
 - Without resetting the index, extract (as a number) the count of head-on collisions that occurred in the South precinct.

In [41]:
type_by_precinct = crashes.groupby('Precinct')['Collision Type Description'].value_counts()
type_by_precinct.head()

Precinct  Collision Type Description
CENTRA    Front to Rear                              1066
          SIDESWIPE - SAME DIRECTION                  831
          ANGLE                                       767
          NOT COLLISION W/MOTOR VEHICLE-TRANSPORT     325
          SIDESWIPE - OPPOSITE DIRECTION               55
Name: Collision Type Description, dtype: int64

In [57]:
type_by_precinct = crashes.groupby(['Precinct', 'Collision Type Description'])['Accident Number'].count()
type_by_precinct

Precinct  Collision Type Description
CENTRA    ANGLE                                       767
          Front to Rear                              1066
          HEAD-ON                                      51
          NOT COLLISION W/MOTOR VEHICLE-TRANSPORT     325
          OTHER                                        41
                                                     ...
WEST      REAR-TO-REAR                                 15
          Rear to Side                                 25
          SIDESWIPE - OPPOSITE DIRECTION               81
          SIDESWIPE - SAME DIRECTION                  329
          UNKNOWN                                      34
Name: Accident Number, Length: 80, dtype: int64

In [60]:
type_by_precinct.loc[('SOUTH','HEAD-ON')]

161

In [33]:
type(type_by_precinct)

pandas.core.series.Series

Precinct is the index, but have 2 columns (Collision Type, count). Previous were 'one-to-one', this one is 'one-to-many'. _

In [45]:
type_by_precinct.loc['SOUTH']['HEAD-ON']

161